@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
}

/* In globals.css */
.bg-neutral-lighter {
  --tw-bg-opacity: 1;
  --n: 0.75 0.11 250; /* Even lighter */
  background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
}

.bg-neutralSilver {
  background-color: #e1e1e1; /* Example light gray color */
}
